# Beginner's Python—Session Seven and Eight Finance/Economics Answers

## Elf Corporation Ltd.

As Christmas approaches, Elf Corporation Ltd. is struggling to make ends meet with their gift producing operations. Things also got a LOT harder when a system failure wiped out a bunch of their data. Your task is to help them fill in this information on time for their delivery date (December 25th).

Before attempting these exercises, make sure you download the necessary files ('elf_corp.csv' and 'new_elf_corp.csv') from the [Github repository](https://github.com/warwickdatasciencesociety/beginners-python/tree/master/session-eight/subject_questions/finecon_resources) and upload them onto your Google Collab space.

To start, we need to read in the Elf Corporation Ltd. file with missing data into a dictionary (where each key:value pair will consist of a column name and a corresponding list of observations for that column).

Start by reading in the header row into a list called `keys`, which will have the keys for our dictionary (file name: `'elf_corp.csv'` ).

To do this:

- Open the file `'elf_corp.csv'`.
- Read the first line into a variable named `keys`
- Replace `'\n'` characters with blanks
- Split the line into a list using the comma character (`','`) as delimiter
- Print out your list `keys`

In [1]:
with open('elf_corp.csv') as file:
    keys = file.readline().replace('\n','').split(',')
    
keys

['Total Product',
 'Santa Factories',
 'Elves',
 'Marginal Product',
 'Average Product',
 'Marginal Cost',
 'Average Fixed Cost',
 'Average Variable Cost',
 'Average Total Cost',
 'Total Fixed Cost',
 'Total Variable Cost',
 'Total Cost']

Now create a dictionary called `elf_data` using the elements of `keys` as your keys, assinging an empty list as value to each one.

In [2]:
elf_data={}

for key in keys:
    elf_data[key] = []
    
print(elf_data)

{'Total Product': [], 'Santa Factories': [], 'Elves': [], 'Marginal Product': [], 'Average Product': [], 'Marginal Cost': [], 'Average Fixed Cost': [], 'Average Variable Cost': [], 'Average Total Cost': [], 'Total Fixed Cost': [], 'Total Variable Cost': [], 'Total Cost': []}

Now its time to read in the rest of our dataset. We'll do this row-by-row (where each line contains a row). To read in the Elf Corporation data, follow the instructions below:

- Open the file `'elf_corp.csv'`.
- Read the file sequentially (starting with the second line to exclude the header row).
- Replace `'\n'` characters with blanks.
- Split each line into a list using the comma character (`','`) as delimiter.
- Loop through the `elf_data` dictionary, adding each value in each line to its respective column.
- **NOTE: When adding data to the dictionary, you'll want to cast numbers as `int`. Use the isnumeric() function to help you doing this**

In [3]:
#----ADD YOUR CODE BELOW----

with open('elf_corp.csv') as file:
    
    line = file.readline()
    line = file.readline()
    
    while line:
        line = line.replace('\n','').split(',')
        i=0
        
        for key in keys:
            if line[i].isnumeric():
                elf_data[key].append(int(line[i]))
            else:
                elf_data[key].append(line[i])
            i+=1
        line = file.readline()   
        
#---------------------------

import pandas as pd        
pd.DataFrame(elf_data)

,Total Product,Santa Factories,Elves,Marginal Product,Average Product,Marginal Cost,Average Fixed Cost,Average Variable Cost,Average Total Cost,Total Fixed Cost,Total Variable Cost,Total Cost
0,0,1,0,,,,,,,,,48
1,8,,,,8,,6,,,,,
2,,,2,,,,,4,,,,
3,15,,,,,,,,,,72,

From this information, we can see that a whole lot of data got deleted. Aside from this information, we are also told that:
- Santa factories are a **fixed** factor of production, with a cost of £48 each.
- Elves are a **variable** factor of production, with a cost of £24 each.

Use your knowledge of economics (producer theory) to work out the missing data (this might be easier to do by hand first), and then add it onto the dictionary `elf_data`. The following formulas might be of help:

- $\text{Average Product} = \displaystyle\frac{\text{Total Product}} {\text{Number of Elves}}$

- $\text{Total Cost} = \text{Total Fixed Cost} + \text{Total Variable Cost}$
- $\text{Average Cost} = \displaystyle\frac{\text{Total Cost}} {\text{Total Product}}$
- $\text{Marginal Product} = \displaystyle\frac{{\Delta}\text{Total Product}} {{\Delta}\text{Number of Elves}}$
- $\text{Marginal Cost} = \displaystyle\frac{{\Delta}\text{Total Cost}} {{\Delta}\text{Total Product}}$

To fill in the rest of the dictionary, you might want to do do it column-by-column or row-by-row. In any case this will require iteration, so try to do this in the most efficient way you can think of.

In [4]:
#----ADD YOUR CODE BELOW----

# Changing total product column
elf_data['Total Product'][2] = 12

# Changing santa factories column
elf_data['Santa Factories'] = [1,1,1,1]

# Changing elves column
for x in range(4):
    
    elf_data['Elves'][x] = x
    elf_data['Total Fixed Cost'][x] = 48
    elf_data['Total Variable Cost'][x] = x*24
    elf_data['Total Cost'][x] = elf_data['Total Variable Cost'][x] + elf_data['Total Fixed Cost'][x]
    
    if x == 0:
        elf_data['Average Fixed Cost'][x] = '-'
        elf_data['Average Variable Cost'][x] = '-'
        elf_data['Average Total Cost'][x] = '-'
        elf_data['Average Product'][x] = '-'
        elf_data['Marginal Product'][x] = '-'
        elf_data['Marginal Cost'][x] = '-'
    else:
        elf_data['Average Fixed Cost'][x] = elf_data['Total Fixed Cost'][x]/elf_data['Total Product'][x]
        elf_data['Average Variable Cost'][x] = elf_data['Total Variable Cost'][x] / elf_data['Total Product'][x]
        elf_data['Average Total Cost'][x] = elf_data['Total Cost'][x]/elf_data['Total Product'][x]
        elf_data['Average Product'][x] = elf_data['Total Product'][x] / x
        elf_data['Marginal Product'][x] = elf_data['Total Product'][x] - elf_data['Total Product'][x-1]
        elf_data['Marginal Cost'][x] = (elf_data['Total Cost'][x] - elf_data['Total Cost'][x-1])/elf_data['Marginal Product'][x]

#---------------------------
pd.DataFrame(elf_data)

,Total Product,Santa Factories,Elves,Marginal Product,Average Product,Marginal Cost,Average Fixed Cost,Average Variable Cost,Average Total Cost,Total Fixed Cost,Total Variable Cost,Total Cost
0,0,1,0,-,-,-,-,-,-,48,0,48
1,8,1,1,8,8,3,6,3,9,48,24,72
2,12,1,2,4,6,6,4,4,8,48,48,96
3,15,1,3,3,5,8,3.2,4.8,8,48,72,120

Now that we have complete data, answer the folowing questions:
- What kind of production function does Elf Corporation have? **Answer: Concave, marginal product is always decreasing.**
- What is the productively efficient level of output for Elf Corporation? **Answer: 15 presents.**
- What market price does Elf Corporation need to operate in the short run if their profit-maximizing level of output is 12 presents? **Answer: £4 or more, so that they cover variable costs.**

Now it's time to write the full Elf Corporation dataset into a new file. Write the data in the `elf_data` dictionary onto the file `'new_elf_corp.csv'` by following the instructions below:

- Open the file `'new_elf_corp.csv'`.
- Write in the header row by iterating through the `elf_data` keys.
- Write in each row using a 'for' loop that iterates 4 times and then iterating through `elf_data` values using a nested loop.
- **TIP: Remember to write in the `'\n'` character after writing in each row.**

After doing this, check the file to make sure the data was written in properly.

In [5]:
with open('new_elf_corp.csv','w') as file:
    
    # Writing in keys
    for key in elf_data.keys():
        file.write(key + ',')
    file.write('\n')
    
    # Writing in values
    for x in range(4):
        for column in elf_data.values():
            file.write(str(column[x]) + ',')
        file.write('\n')