<a href="https://colab.research.google.com/github/THargreaves/beginners-python/blob/master/session_four/session_four_filled_template.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<center>Spotted a mistake? Report it <a href="https://github.com/THargreaves/beginners-python/issues/new">here</a></center>

# Beginner's Pythonâ€”Session Four Template

## Non-numeric Lists

### Introduction

Create a list of numbers (integers, both positive and negative, and floats)

In [1]:
numeric_list = [5, 8.4, -2]

Create a list of strings

In [2]:
text_list = ["Foo", "Bar", "Baz"]

Create a Boolean list

In [3]:
boolean_list = [True, False, True]

Create a list with mixed types

In [4]:
mixed_list = [17.3, "Qux", False]

### Standard Puzzles

Create a list of the original Star Wars film titles

In [5]:
starwars = [
    "A New Hope",
    "The Empire Strikes Back",
    "Return of the Jedi"
]

Create a list containing two lists of two elements

In [6]:
list_of_lists = [
    [1, 2],
    [3, 4]
]

### Bonus Puzzles

Which of the three examples given in the presentation are suitable for modelling using a list?

The first example is suitable for storage as a list since we aren't interested in which participant had which height but rather what the overall distribution of heights was. Therefore we can order the heights arbritarily in the list.

The second is also appropriate for a list since the fixed-time intervals means that we only need to store the measurements in the order we took them and then we can easily reconstruct the full data.

The last example is not suitable for using a list since there is no natural way of ordering ones friends yet we still need to know which phone number belongs to each person (i.e. we can't order them arbritarily). Don't worry though, Python does have a solution for this which we will get to in a later week.

## Extracting List Elements

### Introduction

Create a list of strings and extract the third element

In [7]:
shopping_list = ["Eggs", "Ham", "Bread", "Yoghurt"]
shopping_list[2]

'Bread'

Use negative indexing to extract an element from a list

In [8]:
race_order = ["Dan", "Eddy", "Cat", "Ann", "Bill"]
race_order[-2]

'Ann'

### Standard Puzzles

Create a list of five colours

In [9]:
colours = ["Blue", "Yellow", "Black", "Green", "Red"]

Use positive indexing to extract the middle element of the list

In [10]:
colours[2]

'Black'

Repeat this using negative indexing

In [11]:
colours[-3]

'Black'

Which index would you use to extract the $n$th element of a list?

We would use the index $n-1$ to account for the zero-indexing

### Bonus Puzzles

Extract the second sub-list from the list of lists created earlier

In [12]:
list_of_lists[1]

[3, 4]

Extract the element with value 3 from the list of lists

In [13]:
list_of_lists[1][0]

3

## Slicing Lists

### Introduction

Create a list and using slicing to extract a sub-list

In [14]:
pms = ["Johnson", "May", "Cameron", "Brown", "Blair", "Major"]
pms[1:4]

['May', 'Cameron', 'Brown']

### Standard Puzzles

Create a list of the seven dwarfs and use list slicing to extract the middle three

In [15]:
dwarfs = ["Bashful", "Doc", "Grumpy", "Happy",
          "Sneezy", "Sleep", "Dopey"]
dwarfs[2:5]

['Grumpy', 'Happy', 'Sneezy']

Repeat this using negative indexing

In [16]:
dwarfs[-5:-2]

['Grumpy', 'Happy', 'Sneezy']

### Bonus Puzzles

What happens when we omit an index from one side of the colon?

In [18]:
print(dwarfs[4:])
print(dwarfs[:3])

['Sneezy', 'Sleep', 'Dopey']
['Bashful', 'Doc', 'Grumpy']

A missing index essentially means "up to the start/end of the list"

Use the slice `1:6:2` on the dwarfs list. What does it do?

In [19]:
dwarfs[1:6:2]

['Doc', 'Happy', 'Sleep']

Extract elements with index starting at 1, up to but not including 6, taking steps of size 2

Print the middle three dwarfs in reverse order

In [21]:
dwarfs[5:2:-1]

['Sleep', 'Sneezy', 'Happy']

Reverse the entire dwarfs list

In [22]:
dwarfs[::-1]

['Dopey', 'Sleep', 'Sneezy', 'Happy', 'Grumpy', 'Doc', 'Bashful']

## Manipulating Lists

### Introduction

Create a list and append, overwrite, and delete (by both value and position) elements

In [24]:
# one example shown here; see presentation for others
guests = ["Ann", "Bob", "Cat"]
guests.append("Dan")
print(guests)

['Ann', 'Bob', 'Cat', 'Dan']

Use the `.remove()` list method to remove a duplicate value as well as a value that isn't contained in the list

In [25]:
guests = ["Ann", "Bob", "Cat", "Bob"]
guests.remove("Bob")
print(guests)
guests.remove("Barry")

['Ann', 'Cat', 'Bob']

ValueError: list.remove(x): x not in list

### Standard Puzzles

Create a list containing the numbers $23$, $14$, $45$, $666$, $74$, $3$, and $78$

In [26]:
numbers = [23, 14, 45, 666, 74, 3, 78]

Append the number $4$ to the end of the list

In [27]:
numbers.append(4)

Sort the list in ascending order using the `.sort()` method

In [28]:
numbers.sort()

Replace the smallest element with $2$

In [29]:
numbers[0] = 2

Remove the fifth largest number

In [30]:
del numbers[-5]

Find the average of the remaining numbers

In [31]:
print("Average:", sum(numbers) / len(numbers))

Average: 126.14285714285714

### Bonus Puzzles

How can you remove the largest/smallest element of a list without sorting?

You can use `my_list.remove(min(my_list))`/`my_list.remove(max(my_list))` provided the min/max element is not duplicated

## Tuples

### Introduction

Create a tuple

In [32]:
my_tuple = (3, 1, 4, 1)

Use indexing/slicing to extract elements/sub-tuples of the tuple

In [33]:
print(my_tuple[0])
print(my_tuple[1:3])

3
(1, 4)

### Standard Puzzles

Create a tuple containing a number, a string, and a Boolean

In [34]:
my_tuple = (42, "Spam", False)

Extract the Boolean value

In [35]:
my_tuple[2]

False

Attempt to manipulate the tuple

In [36]:
my_tuple.append(2.718)

AttributeError: 'tuple' object has no attribute 'append'

Create a list and tuple and check their types

In [37]:
my_list = ["Foo", "Bar", "Biz"]
print(type(my_list))
print(type(my_tuple))

<class 'list'>
<class 'tuple'>

### Bonus Puzzles

Create a tuple containing a number and a list of 3 more numbers

In [41]:
tuple_and_list = (1, [2, 3, 4])

Access the 2nd number in the list

In [39]:
tuple_and_list[1][1]

3

Try to manipulate the nested list (you, surprisingly, should be able to)

In [42]:
tuple_and_list[1].append(5)
print(tuple_and_list)

(1, [2, 3, 4, 5])